Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-non-const-parameter,
  -readability-inconsistent-declaration-parameter-name,
  -readability-redundant-declaration,
  -readability-uppercase-literal-suffix,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: ''
HeaderFilterRegex: '.*cpp/(include|src)/.*'
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: '40'
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '1'
